.cursor {
  position: fixed;
  inset: 0;
  z-index: 9;
  pointer-events: none;
  display: none;
  mix-blend-mode: difference;

  @media (hover: hover) {
    display: block;
  }
}

.circle {
  --size: 30px;
  position: absolute;
  will-change: transform;
  width: 0px;
  height: 0;

  &Point {
    filter: blur(10px);
    transition: 0.4s;
    border-radius: 100%;
    position: absolute;
    width: var(--size);
    height: var(--size);
    left: calc(var(--size) / -2);
    top: calc(var(--size) / -2);
    opacity: 1;
  }
}
