@import "styles/mixins";

.nav {
  --transition-sub: 0.2s;
  @include flex;
  z-index: 100;
  position: absolute;
  left: 0;
  width: 100%;

  .separator {
    transition: min-width var(--transition-fix);
    min-width: var(--spacing);
    border-left: 1px solid blue;
  }

  & > ul {
    @include flex;
    width: 100%;
    white-space: nowrap;
    padding: 0 3em;

    & > li {
      @include flex;
      flex: 1 auto;

      &::before {
        content: "";
        position: absolute;
        inset: -15px 0;
      }

      &:hover {
        .sub {
          @include auto-alpha(1);
        }
      }
    }
  }

  @include max($responsiveNav) {
    display: none;
  }

  .item {
    --color: transparent;
    --bg-color: var(--bg-opacity-1);
    --height: 2.75em;
    width: 100%;
    color: var(--text-secondary);

    &::after {
      opacity: 0;
    }

    &:hover,
    &.active {
      --color: var(--primary);
      color: var(--text-primary);
    }

    &.active {
      color: var(--primary);
      &::after {
        opacity: 1;
      }
    }
  }

  .sub {
    transition: opacity var(--transition-sub), visibility var(--transition-sub);
    @include auto-alpha(0);
    --padding: 0.75em;
    position: absolute;
    top: 120%;
    min-width: 120%;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    padding: var(--padding);
    gap: var(--size-2);
    width: auto;
    border: 1px solid var(--bg-opacity-1);
    border-radius: var(--angle-radius);
    background-color: var(--bg-opacity-1);
    box-shadow: var(--shadow-2);
    @include backdrop;
    transform: translateX(-50%);

    li {
      display: flex;
      width: 100%;

      .item {
        display: flex;
        width: 100%;
        padding: 0 0.25em;
      }
    }
  }
}
