:root {
  $colors: (
    body: "1, 8, 26",
    primary: "8, 254, 162",
    secondary: "255, 0, 255",
    tertiary: "108, 13, 255",
    quaternary: "9, 165, 255",
    text-primary: "255, 255, 255",
    text-secondary: "183, 194, 221"
  );

  @each $color, $rgb in $colors {
    --#{$color}-rgb: #{$rgb};
    --#{$color}: rgb(var(--#{$color}-rgb));
  }
}
